pkgbase = nodejs-ethers
	pkgdesc = A complete, compact and simple library for Ethereum and ilk, written in TypeScript.
	pkgver = 6.13.2
	pkgrel = 1
	url = https://github.com/ethers-io/ethers.js
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = ethers-6.13.2.tgz
	source = https://registry.npmjs.org/ethers/-/ethers-6.13.2.tgz
	source = LICENSE
	sha256sums = f6c68a31f674674e4aed782c4f08d7a4ec8bc04738eee38d3e22ec94e129000e
	sha256sums = 48da2f39e100d4085767e94966b43f4fa95ff6a0698fba57ed460914e35f94a0

pkgname = nodejs-ethers
